.cards__like {
  width: 22px;
  height: 22px;
  padding: 0;
  background: transparent url('../../../images/heart.svg') center no-repeat;
  background-size: 22px 19px;
  border: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.cards__like:hover {
  opacity: 0.5;
}